body {
    overflow-y: none;
}
.home-bg-wrapper {
    background: url(/images/home/bg.png) 0 482px repeat-x;
}
.home-wrapper {
    margin: 0 auto;
    height: 900px;
    width: 940px;
    padding-right: -140px;
    position: relative;
}

.home-wrapper .splashscreen {
    position: relative;
}

.home-wrapper .logo {
    position: absolute;
    top: 280px;
    z-index: 10;
}

.home-wrapper .splash {
    position: absolute;
    top: -40px;
    right:-119px;
    z-index: 5;
}

    .home-wrapper .home-text-wrapper {
        position: absolute;
        top: 570px;
        left: 265px;
        padding-top: 4px;
        z-index: 11;
    }
    
    .home-wrapper .home-text-wrapper h1 {
        color: #FFF;
        clear: both;
        font-family: "ITC Avant Garde Gothic Std", Helvetica, sans-serif;
        font-size: 48px;
        letter-spacing: -4px;
        line-height: 48px;
        text-transform: uppercase;
        text-shadow: 0 2px 1px #000;
        overflow: hidden;
        width: 430px;
    }
    
    .home-wrapper .home-text-wrapper h2 {
        color: #A8A8A8;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -1px;
        text-shadow: 0 2px 1px #000;
    }
    
    .home-wrapper .home-text-wrapper p {
        color: #A8A8A8;
        font-size: 18px;
        letter-spacing: -1px;
        margin-bottom: 30px;
        text-shadow: 0 2px 1px #000;
    }
    
    .home-wrapper .home-text-wrapper .signup {
        background: url(/images/signup/submit-button.png) 0px 0 no-repeat;
        border: 0;
        cursor: pointer;
        display: block;
        float: left;
        height: 59px;
        margin-right: 15px;
        outline: none;
        text-indent: -9999px;
        width: 164px;
    }
    
        .home-wrapper .home-text-wrapper .signup:hover {
            background-position: 0px -59px;
        }
        
        .home-wrapper .home-text-wrapper .signup:active {
            background-position: 0px -118px;
        }
        
        .home-wrapper .home-text-wrapper span.signin {
            float: left;
            color: #888;
            font-size: 28px;
            letter-spacing: -3px;
            text-transform: lowercase;
            margin-top: 12px;
        }
        
        .home-wrapper .home-text-wrapper span.signin a {
            color: #FFF;
            font-weight: bold;
            letter-spacing: -1px;
            text-decoration: none;
        }
        
        .home-wrapper .home-text-wrapper span.signin a:hover {
            border-bottom: 1px solid #6f26c8;
        }

