<!DOCTYPE html>
<html>
<head>
  <title>Racket Brackets</title>
  <%= stylesheet_link_tag "common", "home", "signup" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body class="home">
<div class="home-bg-wrapper">  
  <div class="home-wrapper">
    <div class="splashscreen">
    </div>
<div class="home-text-wrapper">

  <h1>Your choons with no dust.</h1>
  <h2>Choons lets you easily manage your album collection.</h2>
  <p>Create your account now or login via twitter to start organizing your choons.</p>
  <a href="/users/sign_up" class="signup"></a> <span class="signin">or <a href="/users/sign_in" class="signin">Sign In ›</a></span>
</div>
  </div> 
  <div id="footer">
  <div class="footer-wrapper">
  </div>
</div>

</div>
</html>
