= semantic_form_for @tournament do |form|
  = form.inputs :name, :location, :level

  %table
    = form.semantic_fields_for :matches do |match|
      %tr
        %td
          Position
          =match.object.position
        %td
          =match.collection_select :player_1, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 1"}
          =match.collection_select :player_2, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 2"}
    
    = form.submit
  

